<footer class="footer">

    <div class="footer-contenido">

        <div class="footer-seccion">
            <h3>SoundStore</h3>
            <p>Autoservicio de instrumentos musicales.</p>
        </div>

        <div class="footer-seccion">
            <h3>Integrantes</h3>
            <p>Tobias Schmidt</p>
            <p>Luca Famozo</p>
        </div>

        <div class="footer-seccion">
            <h3>Contacto</h3>
            <p>tobiasschmidt711@gmail.com</p>
        </div>

    </div>

</footer>